/*--------------------------Normalization---------------------------*/
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
}
/*--------------------------Normalization---------------------------*/


/*------------------------------NavBar------------------------------*/

.navigation a{
    color: #707070;
}
/*------------------------------NavBar------------------------------*/