/*--------------------------Normalization---------------------------*/
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
}
/*--------------------------Normalization---------------------------*/


/*------------------------------NavBar------------------------------*/

.navigation a{
    color: #707070;
    font-weight: bold;
}
/*------------------------------NavBar------------------------------*/


/*------------------------------Banner------------------------------*/
.banner{
    background-image: url("img/banner-products/");
}
.row{
    padding: 10px 20px;
}
.banner p{
    color: #707070;
}
.banner button{
    padding: 5px 15px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    margin: 20px 10px;
}
.banner h1{
    color: #1F1F1F;
    margin: 20px 10px;
}
.banner a{
    color: #FFFFFF;
    font-weight: bold;
}

.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    background-color: rgb(136, 133, 133);
}
.carousel-indicators .active {
    background-color: orange;
    max-width: 45px;
    
}
/*------------------------------NavBar------------------------------*/